@import url(./__list/photo-grid__list.css);
@import url(./__item/photo-grid__item.css);
@import url(./__item/_image/photo-grid__item_image_train.css);
@import url(./__item/_image/photo-grid__item_image_arisaatharva-tulsi.css);
@import url(./__item/_image/photo-grid__item_image_tuman.css);
@import url(./__item/_image/photo-grid__item_image_sochi.css);
@import url(./__item/_image/photo-grid__item_image_arisa.css);
@import url(./__item/_image/photo-grid__item_image_baikal-first.css);
@import url(./__item/_image/photo-grid__item_image_elbrus.css);
@import url(./__item/_image/photo-grid__item_image_kondratiev.css);
@import url(./__item/_image/photo-grid__item_image_kamchatka-first.css);
@import url(./__item/_image/photo-grid__item_image_kamchatka-second.css);
@import url(./__item/_image/photo-grid__item_image_baikal-second.css);
@import url(./__item/_image/photo-grid__item_image_ergaki.css);


.photo-grid {
  margin-top: 92px;
  padding: 0 48px;
}

@media (max-width: 1024px) {
  .photo-grid {
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin-top: 64px;
    padding: 0 16px;
  }
}