@import url(./__main/header__main.css);
@import url(./__languages/header__languages.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-item/header__lang-item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_selected/header__lang-link_selected.css);

.header {
  display: flex;
  padding: 0 3.8%;
  margin-top: 2.2%;
}

@media (max-width: 1023px) {
  .header {
    padding: 0 3.1%;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 5%;
    margin-top: 5%;
  }
}
