.lead__title {
  width: 720px;
  margin: 0 auto;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .lead__title {
    width: 504px;
    font-size: 68px;
  }
}

@media (max-width: 545px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
  }
}