@import url(./__container/cover__container.css);
@import url(./__image/cover__image.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  margin-top: 12.8%;
  padding: 0 3.8%;
}

@media (max-width: 1279px) {
  .cover {
    margin-top: 9%;
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .cover {
    margin-top: 11.5%;
  }
}
@media (max-width: 767px) {
  .cover {
    margin-top: 20%;
  }
}