@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/title/title.css);
@import url(../blocks/text/text.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);


.cover {
  margin-top: 164px;
  position: relative;

  height: 740px;
}

.cover__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48px;
  right: 48px;
  background-image: url(../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

.cover__overlay {
  background-color: rgba(255, 0, 0, 0.5);
  height: 100%;
}

.cover__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.cover__title {
  /* background-color: red; */
  width: 48%;
}

.cover__subtitle{
  /* background-color: green; */
  width: 30%;
  margin-top: 32px;
  line-height: 1.2;
}