.cover__title {
  width: 48%;
}

@media (max-width: 1279px) {
  .cover__title {
    width: 56%;
  }
}

@media (max-width: 1023px) {
  .cover__title {
    width: 74%;
  }
}
@media (max-width: 767px) {
  .cover__title {
    width: 75%;
  }
}